[submodule "sourcedata"]
	path = sourcedata
	url = ./sourcedata
	datalad-id = d7796b62-c7f0-4ca9-a89a-5b62a22ca628
[submodule "nifti"]
	path = nifti
	url = ./nifti
	datalad-id = eabb6b47-da87-46dc-8291-91c41cb78402
[submodule "simg"]
	path = simg
	url = ./simg
	datalad-id = bf1f7f07-cb78-4e76-b013-c5ad12c92cc7
[submodule "fmriprep"]
	path = fmriprep
	url = ./fmriprep
	datalad-id = a2ad7202-9fa7-46f3-8712-7d3debe0bc44
[submodule "licenses"]
	path = licenses
	url = ./licenses
	datalad-id = a2c80408-686c-4a42-a0c1-3d7c81b26e26
