[submodule "sourcedata"]
	path = sourcedata
	url = ./sourcedata
	datalad-id = d7796b62-c7f0-4ca9-a89a-5b62a22ca628
[submodule "nifti"]
	path = nifti
	url = ./nifti
	datalad-id = eabb6b47-da87-46dc-8291-91c41cb78402
[submodule "simg"]
	path = simg
	url = ./simg
	datalad-id = bf1f7f07-cb78-4e76-b013-c5ad12c92cc7
[submodule "fmriprep"]
	path = fmriprep
	url = ./fmriprep
	datalad-id = a2ad7202-9fa7-46f3-8712-7d3debe0bc44
[submodule "licenses"]
	path = licenses
	url = ./licenses
	datalad-id = a2c80408-686c-4a42-a0c1-3d7c81b26e26
[submodule "templateflow"]
	path = templateflow
	url = ./templateflow
	datalad-id = 75d7312f-0285-4bbf-b191-c2f656cebc02
[submodule "preprocessed"]
	path = preprocessed
	url = ./preprocessed
	datalad-id = ae76ca0d-9dcd-43e2-aab0-446ca68d2c4c
[submodule "mimosa"]
	path = mimosa
	url = ./mimosa
	datalad-id = c84a01f4-e7c6-4103-b1a9-246a73cdad2f
[submodule "lesmasks"]
	path = lesmasks
	url = ./lesmasks
	datalad-id = 15b18bb1-eea0-418c-8c1f-52706e26805b
[submodule "flirt"]
	path = flirt
	url = ./flirt
	datalad-id = 942436a0-6593-4330-9ada-78cecc07568c
